/* General setup */

@font-face {
  font-family: 'baskervville_scregular';
  src: url('Baskervville_Header_font/baskervvillesc-regular-webfont.woff2') format('woff2'),
       url('Baskervville_Header_font/baskervvillesc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noto_serifregular';
  src: url('Noto_Serif_body/notoserif-variablefont_wdthwght-webfont.woff2') format('woff2'),
       url('Noto_Serif_body/notoserif-variablefont_wdthwght-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-size: 10px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header {
  font-family: 'baskervville_scregular';
  text-align: center;
  letter-spacing: .2rem;
  font-size: 16px;
}

section, aside, nav, footer {
  font-family: 'noto_serifregular';
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 1px;
  word-spacing: 1.5px;
}

section h2 + p {
  text-indent: 20px;
}

a:hover, a:visited, a:focus {
  color: #a66;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a:active {
  background-color: rgb(245, 174, 174);
}

a[href*="http"] {
  padding-right: 14px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 12px 12px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

ul {
  line-height: 200%;
}

nav ul {
  margin-top: 0.9rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  display: inline-block;
  font-size: 24px;
  width: 100%;
  line-height: 3;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  margin: 0px 15px;
  background-color: rgb(184, 137, 137);
  color: black;
}
